<main class="container">
    <div class="row">
        <div class="col-lg-6 title-section">
            <h1>Spooky Tic-Tac-Toe</h1>
            <!--<h2>"There is magic in the night when pumkins glow by moonlight."</h2>-->
            <h2>{{ dadJoke }}</h2>
            <div class="button">
                <button (click)="goGame()">Play Game</button>
            </div>
        </div>
        <div class="col-lg-6"> 
            <div id="splash-image-anchor">
                <img src="../../assets/spooky-tictactoe-witch.png" alt="Spooky tic-tac-toe witch">
            </div>
        </div>
    </div>
</main>

