@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

body {
    font-family: 'Fruktur', cursive;
    font-size: 100px;

}

#splash-image-anchor {
    width: 550px;
    height: 710px;
 /*   background: transparent url(../../assets/spooky-tictactoe-witch.png) no-repeat;*/
    padding: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto
   // align-items: center;
}

.button {
    margin: 4rem 0 0 8rem;
}

.title-section {
    padding-top: 5rem;
}

.title-section h2 {
    margin-top: 4rem;
}

#splash-image-anchor img {
    width: 100%;
}