body {
    background-color: rgb(172, 172, 172) !important;
}

main {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
}
#player-board {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
  
app-square {
    border: 1px purple solid;
    height: 200px;
    background-color: black;
}