/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #aaa; }
@import '~@angular/material/theming';
@include mat-core();
//@include angular-material-theme($myapp-theme);

//$myapp-primary: mat-palette($mat-indigo);
//$myapp-accent: mat-palette($mat-pink, A200, A100, A400);
//$myapp-warn: mat-palette($mat-red);
//$myapp-theme: mat-light-theme($myapp-primary, $myapp-accent, $myapp-warn);
